name: Deploy to Firebase Hosting on Merge
on:
  push:
    branches:
      - main  # or 'master' depending on your branch name
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm ci && npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_CYBER }}
          projectId: cyber-5de80
          channelId: live  # This tells Firebase to go to the real URL